{% from '_macros' import fileUrl %}
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title is defined ? title : 'Form'}}</title>
        <link rel="stylesheet" href="/css/bulma.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
        {%- if css is not empty -%}
            <link rel="stylesheet" href={{ fileUrl(css) }} >
        {% endif %}
    </head>
    <body>
        <section class="section">
            <div class="container">
                {%- if logo is not empty -%}
                    <img class="logo" src="{{ fileUrl(logo) }}" alt="logo">
                {%- endif -%}

                {%- if title is not empty  -%}
                    <h1 class="title">{{ title }}</h1>
                {%- endif -%}

                <script id="formConfig">
                    const formconfig = {{ configJSON | raw }};
                </script>

                <form-component></form-component>

            </div>
        </section>

        <script src="/js/bundle.js"></script>
    </body>
</html>
