{%- macro fileUrl(value) -%}
    {%- if value starts with 'http' -%}
        {{ value }}
    {%- elseif value starts with '/' -%}
        {{ value }}
    {%- else -%}
        /download/{{ form_id }}?file={{ value }}
    {%- endif -%}
{%- endmacro -%}

{%- macro renderError(errors) -%}
    {%- if errors is not empty -%}
        <p class="help is-danger">
            {% for error in errors %}
                {{ error }} <br />
            {% endfor %}
        </p>
    {%- endif -%}
{%- endmacro -%}

{%- macro renderNotification(notification) -%}
    {%- if notification is not empty -%}
        <div class="notification {{ form_is_valid ? 'is-success' : 'is-danger' -}}">
            {{ notification }}
        </div>
    {%- endif -%}
{%- endmacro -%}

{%- macro renderTooltip(tooltip) -%}
    {%- if tooltip is not empty -%}
        <button type="button" class="button is-small tooltip-button has-tooltip-multiline has-tooltip-right" data-tooltip="{{ tooltip | raw }}" style="{{ tooltip_style }}">!</button>
    {%- endif -%}
{%- endmacro -%}

{%- macro renderModal(modal, id) -%}
    {%- if modal is not empty -%}
        <button type="button" class="button is-small js-modal-trigger" data-target="modal-{{ id }}" style="{{ tooltip_style }}">?</button>
        <div id="modal-{{ id }}" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    {{ modal | raw }}
                </div>
            </div>

            <button class="modal-close is-large" aria-label="close"></button>
        </div>
    {%- endif -%}
{%- endmacro -%}
