{% from '_macros' import renderError, renderTooltip, renderModal %}
<div class="column {{ column is not empty ? column : 'is-full' }}">
    <div class="field">
        <div class="label-with-tooltip">
            <div class="label {{ labelsmall is not empty ? 'label-smaller' }}">
                {%- if label is not empty -%}
                    {{ label }} {{ is_required ? '*' }}
                {%- endif -%}
                {{ renderTooltip(tooltip) }}
                {{ renderModal(modal, id) }}
            </div>
        </div>
        <div class="control">
            <div class="grouped-form-elements" id="{{ id }}">
                {%- for choice in choices -%}
                    <label class="checkbox {{ labelsmall is not empty ? 'label-smaller' }}{% if is_readonly%} readonly-choices{% endif %}">
                        <input
                                type="checkbox"
                                id="{{ id~'['~loop.index0~']' }}"
                                name="{{ id~'['~loop.index0~']' }}"
                                value="{{ choice }}"
                                {{ choice in value ? 'checked' }}
                                class="checkbox-input form-input{% if is_readonly%} readonly-choices{% endif %}" />
                                {{- transformed_choices[loop.index0] | raw -}}
                    </label>
                    {%- if alignment is defined and alignment == 'vertical' -%}
                        <br />
                    {% endif %}
                {%- endfor -%}
            </div>
        </div>
        {{ renderError(errors) }}
    </div>
</div>
