{% from '_macros' import renderError, renderTooltip %}
<div class="column {{ column is not empty ? column : 'is-full' }}">
    <div class="field">
        <label class="label" for="{{ id }}">
            {%- if label is not empty -%}
                {{ label }} {{ is_required ? '*' }}
            {%- endif  -%}
        </label>
        {{ renderTooltip(tooltip) }}
        <div class="control">
            <input
                type="text"
                id="{{ id }}"
                name="{{ id }}"
                value="{{ value }}"
                class="input form-input{% if is_readonly%} is-static has-text-grey{% endif %} {{ errors is not empty ? 'is-danger' }}"
                data-calendar-type="datetime"
                {% if is_readonly%}readonly{% endif %}
                {% if placeholder is not empty -%}
                    placeholder="{{ placeholder ~ (is_required and label is empty ? ' *') }}"
                {%- endif %} />
        </div>
        {{ renderError(errors) }}
    </div>
</div>