{% from '_macros' import renderError %}
<div class="column {{ column is not empty ? column : 'is-full' }}">
    <div class="field">
        <label class="label" for="{{ id }}">{{ label }} {{ is_required ? '*' }}</label>
        <div class="control">
            <input
                    type="text"
                    id="{{ id }}"
                    name="{{ id }}"
                    value="{{ value }}"
                    class="input form-input {{ errors is not empty ? 'is-danger' }}"
                    data-calendar-type="date" />
        </div>
        {{ renderError(errors) }}
    </div>
</div>