{% from '_macros' import fileUrl, renderTooltip, renderModal %}
<div class="column {{ column is not empty ? column : 'is-full' }}">
    <div class="field">
        <div class="control">
            <a href="{{ fileUrl(href)  }}" target="_blank">{{ label }}</a>
            {{ renderTooltip(tooltip) }}
            {{ renderModal(modal, id) }}
        </div>
    </div>
</div>
