{% from '_macros' import renderError %}
<div class="column {{ column is not empty ? column : 'is-full' }}">
    <div class="field">
        <label class="label" for="{{ id }}">{{ label }} {{ is_required ? '*' }}</label>
        <div class="control">
            <div class="select {{ multiselect is defined and multiselect ? 'is-multiple' }} {{ errors is not empty ? 'is-danger' }}">
                <select
                        id="{{ id }}"
                        name="{{ id }}"
                        class="form-input"
                        {{ size is defined ? 'size='~size }}
                        {{ multiselect is defined and multiselect ? 'multiple' }}>

                    <option value="">{{ empty_label is defined ? empty_label }}</option>
                    {%- for choice in choices -%}
                        <option {{ choice in value ? 'selected' }}>{{ choice }}</option>
                    {%- endfor -%}

                </select>
            </div>
        </div>
        {{ renderError(errors) }}
    </div>
</div>