{% from '_macros' import renderError, renderTooltip, renderModal %}
<div class="column {{ column is not empty ? column : 'is-full' }}">
    <div class="field">
        <div class="label-with-tooltip">
            <label class="label {{ labelsmall is not empty ? 'label-smaller' }}" for="{{ id }}">
                {%- if label is not empty -%}
                    {{ label }} {{ is_required ? '*' }}
                {%- endif  -%}
            </label>
            {{ renderTooltip(tooltip) }}
            {{ renderModal(modal, id) }}
        </div>
        <div class="control">
            <div class="select {{ multiselect is defined and multiselect ? 'is-multiple' }} {{ errors is not empty ? 'is-danger' }}">
                <select
                        id="{{ id }}"
                        name="{{ id }}[]"
                        class="form-input{% if is_readonly%} readonly-select{% endif %}"
                        {{ size is defined ? 'size='~size }}
                        {{ multiselect is defined and multiselect ? 'multiple' }}>

                    <option value="">{{ empty_label is defined ? empty_label }}</option>

                    {% if conditional_choices is not empty %}
                    {%- for select in conditional_choices -%}
                        {%- for choice in select.choices -%}
                            <option hidden disabled {{ choice in value ? 'selected' }} data-toggle-id="{{ select.field}}" data-toggle-value="{{ select.value }}">{{ choice }}</option>
                        {%- endfor -%}
                    {%- endfor -%}
                    {% else %}
                        {%- for choice in choices -%}
                            <option {{ choice in value ? 'selected' }}>{{ choice }}</option>
                        {%- endfor -%}
                    {% endif %}

                </select>


            </div>
        </div>
        {{ renderError(errors) }}
    </div>
</div>
