{% from '_macros' import renderError, renderTooltip %}

{% if backgroundName is not empty %}
    <div class="has-background-{{ backgroundName }}">
{% elseif backgroundNumber is not empty %}
    <div style="background-color: {{ backgroundNumber }}">
{% endif %}

<fieldset {{ toggle is not empty ? ('data-toggle-id="'~toggle.id~'" data-toggle-value="'~toggle.value~'"') | raw }}
        {% if tablestyle is not empty %} class="is-left-label"{% endif %} >
    <legend class="hidden">{{ label }}</legend>
    <div class="column {{ column is not empty ? column : 'is-full' }} fieldset-content">
        <div class="label fieldset-label">
            {{ label }}
            {{ renderTooltip(tooltip) }}
        </div>
        <div class="columns{% if scrollable is empty %} is-multiline{% else %} is-scrollable{% endif %}">
            {% if tablestyle is not empty %}<div class="next-is-double"></div>{% endif %}
            {% for rendered_child_view in rendered_child_views %}
                {{ rendered_child_view | raw }}
            {% endfor %}
        </div>
    </div>
</fieldset>

{% if (backgroundName is not empty or backgroundNumber is not empty) %}
    </div>
{% endif %}
