<div class="field">
    <div class="label">{{ label }}</div>
    <div class="control">
        <img src="{{ src }}" style="{{ width is defined ? 'width:'~width~'px;' }} {{ height is defined ? 'height:'~height~'px;' }}" alt="{{ alt is defined ? alt : label }}">
    </div>
</div>