{%- block form -%}
    <!DOCTYPE html>
    <html lang="de">
        <head>
            <title>{{ title is defined ? title : 'Form'}}</title>
        </head>
    <body>
        <form {{ action is defined ? 'action='~action }} method="post">
            {{ formHtml | raw }}

            <button type="submit">Absenden</button>
        </form>
    </body>
    </html>
{%- endblock -%}


{%- block fieldset -%}
    <fieldset>
        <div class="fieldset-label">
            {{ label }}
        </div>
        {% for renderedChildView in renderedChildViews %}
            {{ renderedChildView | raw }}
        {% endfor %}
    </fieldset>
{%- endblock -%}


{%- block textinput -%}
    <div class="text-input">
        <label for="{{ id }}">
            {{ label }}
            <input type="text" id="{{ id }}" name="{{ id }}" value="{{ value }}" />
        </label>
    </div>
{%- endblock -%}


{%- block numberinput -%}
    <div class="number-input">
        <label for="{{ id }}">
            {{ label }}
            <input type="number" id="{{ id }}" name="{{ id }}" value="{{ value }}" />
        </label>
    </div>
{%- endblock -%}


{%- block date -%}
    <div class="date-input">
        <label for="{{ id }}">
            {{ label }}
            <input type="date" id="{{ id }}" name="{{ id }}"  value="{{ value }}" />
        </label>
    </div>
{%- endblock -%}


{%- block time -%}
    <div class="time-input">
        <label for="{{ id }}">
            {{ label }}
            <input type="time" id="{{ id }}" name="{{ id }}"  value="{{ value }}" />
        </label>
    </div>
{%- endblock -%}


{%- block datetime -%}
    <div class="datetime-input">
        <label for="{{ id }}">
            {{ label }}
            <input type="datetime-local" id="{{ id }}" name="{{ id }}"  value="{{ value }}" />
        </label>
    </div>
{%- endblock -%}


{%- block email -%}
    <div class="email-input">
        <label for="{{ id }}">
            {{ label }}
            <input type="email" id="{{ id }}" name="{{ id }}"  value="{{ value }}" />
        </label>
    </div>
{%- endblock -%}


{%- block hidden -%}
    <input type="hidden" id="{{ id }}" name="{{ id }}" value="{{ value }}" />
{%- endblock -%}


{%- block textarea -%}
    <div class="textarea">
        <label for="{{ id }}">
            {{ label }}
            <textarea id={{ id }} name="{{ id }}"  {{ cols is defined ? 'cols='~cols }} {{ rows is defined ? 'rows='~rows }}>{{ value }}</textarea>
        </label>
    </div>
{%- endblock -%}


{%- block radioset -%}
    <div class="radioset">
        <div class="radioset-label">{{ label }}</div>
        {%- for choice in choices -%}
            <label for="{{ id~'['~loop.index0~']' }}"> {{ choice }}
                <input type="radio" id="{{ id~'['~loop.index0~']' }}" name="{{ id }}" value="{{ choice }}" {{ value == choice ? 'checked' }} />
            </label>
        {%- endfor -%}
    </div>
{%- endblock -%}


{%- block checklist -%}
    <div class="checklist">
        <div class="checklist-label">{{ label }}</div>
        {%- for choice in choices -%}
            <label for="{{ id~'['~loop.index0~']' }}"> {{ choice }}
                <input type="checkbox" id="{{ id~'['~loop.index0~']' }}" name="{{ id~'['~loop.index0~']' }}" value="{{ choice }}" {{ choice in value ? 'checked' }} />
            </label>
        {%- endfor -%}
    </div>
{%- endblock -%}


{%- block dropdown -%}
    <div class="select">
        <div class="select-label">{{ label }}</div>
        <select id="{{ id }}" name="{{ id }}" {{ size is defined ? 'size='~size }} {{ multiselect is defined and multiselect ? 'multiple' }}>
            {%- for choice in choices -%}
                <option {{ choice in value ? 'selected' }}>{{ choice }}</option>
            {%- endfor -%}
        </select>
    </div>
{%- endblock -%}


{%- block upload -%}
    <div class="file-upload">
        <label for="{{ id }}">
            {{ label }}
            <input type="file" id={{ id }} name="{{ id }}" {{ fileext is defined ? 'accept='~fileext }} />
        </label>
    </div>
{%- endblock -%}


{%- block download -%}
    <div class="file">
        <a href="{{ href }}" target="_blank">{{ label }}</a>
    </div>
{%- endblock -%}


{%- block image -%}
    <div class="image">
        <div class="image-label">{{ label }}</div>
        <img src="{{ src }}" {{ width is defined ? 'width='~width }} {{ width is defined ? 'height='~height }} alt="{{ alt is defined ? alt : label }}">
    </div>
{%- endblock -%}


{%- block markdown -%}
    <div class="markdown">
        {{ markdown | raw }}
    </div>
{%- endblock -%}