{%- block form -%}
    {% from 'macros.twig' import fileUrl as fileUrl %}
    <!DOCTYPE html>
    <html lang="de">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>{{ title is defined ? title : 'Form'}}</title>
            <link rel="stylesheet" href="/css/bulma.min.css" />
            <link rel="stylesheet" href="/css/app.css" />
            <link rel="stylesheet" href="/css/flatpickr.min.css" >
            {%- if css is not empty -%}
                <link rel="stylesheet" href={{ fileUrl(form_id, css) }} >
            {% endif %}
            <script src="/js/flatpickr.min.js"></script>
            <script src="/js/signature_pad.min.js"></script>
        </head>
        <body>
            <section class="section">
                <div class="container">
                    {%- if logo is not empty -%}
                        <img class="logo" src="{{ fileUrl(form_id, logo) }}">
                    {%- endif -%}
                    {%- if title is not empty  -%}
                        <h1 class="title">{{ title }}</h1>
                    {%- endif -%}

                    {{ block('notification') }}
                    <form id="form" method="post" enctype="multipart/form-data">
                        {{ formHtml | raw }}
                        <div class="field is-grouped has-addons has-addons-centered">
                            <div class="control">
                                <button class="button is-link" type="submit" name="formcontrol[save]">Speichern</button>
                            </div>
                            <div class="control">
                                <button class="button is-link" type="submit" name="formcontrol[send]">Absenden</button>
                            </div>
                        </div>
                    </form>
                    {{ block('notification') }}
                </div>
            </section>
            <script src="/js/app.js"></script>
        </body>
    </html>
{%- endblock -%}


{%- block fieldset -%}
    <fieldset {{ disabled is defined and disabled ? 'disabled' }}>
        <legend class="label fieldset-label">
            {{ label }}
        </legend>
        {% for rendered_child_view in rendered_child_views %}
            {{ rendered_child_view | raw }}
        {% endfor %}
    </fieldset>
{%- endblock -%}



{%- block textinput -%}
    <div class="field">
        <label class="label" for="{{ id }}">{{ label }}</label>
        <div class="control">
            <input
                type="text"
                id="{{ id }}"
                name="{{ id }}"
                value="{{ value }}"
                class="input {{ errors is not empty ? 'is-danger' }}"
                {{ width is defined ? ('style="width:'~width~';"') | raw }} />
        </div>
        {{ block('error') }}
    </div>
{%- endblock -%}


{%- block numberinput -%}
    <div class="field">
        <label class="label" for="{{ id }}">{{ label }}</label>
        <div class="control">
            <input
                type="number"
                id="{{ id }}"
                name="{{ id }}"
                value="{{ value }}"
                class="input {{ errors is not empty ? 'is-danger' }}"
                {{ width is defined ? ('style="width:'~width~';"') | raw }} />
        </div>
        {{ block('error') }}
    </div>
{%- endblock -%}


{%- block date -%}
    <div class="field">
        <label class="label" for="{{ id }}">{{ label }}</label>
        <div class="control">
            <input
                type="text"
                id="{{ id }}"
                name="{{ id }}"
                value="{{ value }}"
                class="input {{ errors is not empty ? 'is-danger' }}"
                {{ width is defined ? ('style="width:'~width~';"') | raw }}
                data-calendar-type="date" />
        </div>
        {{ block('error') }}
    </div>
{%- endblock -%}


{%- block time -%}
    <div class="field">
        <label class="label" for="{{ id }}">{{ label }}</label>
        <div class="control">
            <input
                type="text"
                id="{{ id }}"
                name="{{ id }}"
                value="{{ value }}"
                class="input {{ errors is not empty ? 'is-danger' }}"
                {{ width is defined ? ('style="width:'~width~';"') | raw }}
                data-calendar-type="time" />
        </div>
        {{ block('error') }}
    </div>
{%- endblock -%}


{%- block datetime -%}
    <div class="field">
        <label class="label" for="{{ id }}">{{ label }}</label>
        <div class="control">
            <input
                type="text"
                id="{{ id }}"
                name="{{ id }}"
                value="{{ value }}"
                class="input {{ errors is not empty ? 'is-danger' }}"
                {{ width is defined ? ('style="width:'~width~';"') | raw }}
                data-calendar-type="datetime" />
        </div>
        {{ block('error') }}
    </div>
{%- endblock -%}


{%- block email -%}
    <div class="field">
        <label class="label" for="{{ id }}">{{ label }}</label>
        <div class="control">
            <input
                type="email"
                id="{{ id }}"
                name="{{ id }}"
                value="{{ value }}"
                class="input {{ errors is not empty ? 'is-danger' }}"
                {{ width is defined ? ('style="width:'~width~';"') | raw }} />
        </div>
        {{ block('error') }}
    </div>
{%- endblock -%}


{%- block hidden -%}
    <input type="hidden" id="{{ id }}" name="{{ id }}" value="{{ value }}" />
{%- endblock -%}


{%- block textarea -%}
    <div class="field">
        <label class="label" for="{{ id }}">{{ label }}</label>
        <div class="control">
            <textarea
                id="{{ id }}"
                name="{{ id }}"
                {{ cols is defined ? 'cols='~cols }}
                {{ rows is defined ? 'rows='~rows }}
                class="textarea {{ errors is not empty ? 'is-danger' }}"
                {{ width is defined ? ('style="width:'~width~';"') | raw }}>

                {{- value -}}

            </textarea>
        </div>
        {{ block('error') }}
    </div>
{%- endblock -%}


{%- block radioset -%}
    <div class="field">
        <div class="control">
            <div class="label">{{ label }}</div>
            {%- for choice in choices -%}
                <label class="radio">
                    <input
                        type="radio"
                        id="{{ id~'['~loop.index0~']' }}"
                        name="{{ id }}"
                        value="{{ choice }}"
                        {{ value == choice ? 'checked' }} />
                    {{ choice }}
                </label>
                {%- if alignment is defined and alignment == 'vertical' -%}
                    <br />
                {% endif %}
            {%- endfor -%}
        </div>
        {{ block('error') }}
    </div>
{%- endblock -%}


{%- block checklist -%}
    <div class="field">
        <div class="control">
            <div class="label">{{ label }}</div>
            {%- for choice in choices -%}
                <label class="checkbox">
                    <input
                        type="checkbox"
                        id="{{ id~'['~loop.index0~']' }}"
                        name="{{ id~'['~loop.index0~']' }}"
                        value="{{ choice }}"
                        {{ choice in value ? 'checked' }}
                        class="checkbox-input" />
                        {{- choice -}}
                </label>
                {%- if alignment is defined and alignment == 'vertical' -%}
                    <br />
                {% endif %}
            {%- endfor -%}
        </div>
        {{ block('error') }}
    </div>
{%- endblock -%}


{%- block dropdown -%}
    <div class="field">
        <label class="label" for="{{ id }}">{{ label }}</label>
        <div class="control">
            <div class="select {{ multiselect is defined and multiselect ? 'is-multiple' }} {{ errors is not empty ? 'is-danger' }}" {{ width is defined ? ('style="width:'~width~';"') | raw }} >
                <select
                    id="{{ id }}"
                    name="{{ id }}"
                    {{ size is defined ? 'size='~size }}
                    {{ multiselect is defined and multiselect ? 'multiple' }}>

                    <option value="">{{ default is defined ? default }}</option>
                    {%- for choice in choices -%}
                        <option {{ choice in value ? 'selected' }}>{{ choice }}</option>
                    {%- endfor -%}

                </select>
            </div>
        </div>
        {{ block('error') }}
    </div>
{%- endblock -%}


{%- block upload -%}
    {% from 'macros.twig' import fileUrl as fileUrl %}
    <div class="field file {{ errors is not empty ? 'is-danger' }}">
        <div class="control">
            <label class="label">{{ label }}</label>
            {% if is_uploaded %}
                <a href="{{ fileUrl(form_id, value) }}" target="_blank">Gespeicherte Datei</a><br />
            {% endif %}
            <label class="file-label">
                <input type="file" class="file-input" id="{{ id }}" name="{{ id }}" {{ allowed_extensions is defined ? ('accept=".'~allowed_extensions|join(',.')~'"')|raw }} />
                <span class="file-cta">
                    <span class="file-label">
                        {{ is_uploaded ? 'Datei ersetzen' : 'Datei hochladen' }}
                    </span>
                </span>
            </label>
            {{ block('error') }}
        </div>
    </div>
{%- endblock -%}


{%- block download -%}
    {% from 'macros.twig' import fileUrl %}
    <div class="field">
        <div class="control">
            <a href="{{ fileUrl(form_id, href)  }}" target="_blank">{{ label }}</a>
        </div>
    </div>
{%- endblock -%}


{%- block image -%}
    <div class="field">
    <div class="label">{{ label }}</div>
        <div class="control">
            <img src="{{ src }}" style="{{ width is defined ? 'width:'~width~'px;' }} {{ height is defined ? 'height:'~height~'px;' }}" alt="{{ alt is defined ? alt : label }}">
        </div>
    </div>
{%- endblock -%}


{%- block markdown -%}
    <div class="field">
        <div class="control">
            {{ markdown | raw }}
        </div>
    </div>
{%- endblock -%}


{%- block signature -%}
    <div id="signature-pad" {{ width is defined ? ('data-width="'~width~'"') | raw }} {{ height is defined ? ('data-height="'~height~'"') | raw }}>
        <div class="field">
            <div class="control">
                <div class="label">{{ label }}</div>
                <input type="hidden" id="{{ id }}" name="{{ id }}" value="{{ value }}" />
                <canvas />
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button type="button" class="button clear" data-action="clear">Löschen</button>
            </div>
        </div>
    </div>
{%- endblock -%}


{%- block error -%}
    {%- if errors is not empty -%}
        <p class="help is-danger">
            {% for error in errors %}
                {{ error }} <br />
            {% endfor %}
        </p>
    {%- endif -%}
{%- endblock -%}

{%- block notification -%}
    {%- if notification is not empty -%}
        <div class="notification {{ is_valid ? 'is-success' : 'is-danger' -}}">
            {{ notification }}
        </div>
    {%- endif -%}
{%- endblock -%}