{% from '_macros' import renderError, renderTooltip %}
<div class="column {{ column is not empty ? column : 'is-full' }}">
    <div class="field">
        <div class="control">
            {%- if label is not empty -%}
                <div class="label">{{ label }} {{ is_required ? '*' }}</div>
            {%- endif -%}
            {{ renderTooltip(tooltip) }}
            <div class="grouped-form-elements" id="{{ id }}">
                {%- for choice in choices -%}
                    <label class="radio">
                        <input
                                type="radio"
                                id="{{ id~'['~loop.index0~']' }}"
                                name="{{ id }}"
                                class="form-input"
                                value="{{ choice }}"
                                {{ value == choice ? 'checked' }} />
                        {{ choice }}
                    </label>
                    {%- if alignment is defined and alignment == 'vertical' -%}
                        <br />
                    {% endif %}
                {%- endfor -%}
            </div>
        </div>
        {{ renderError(errors) }}
    </div>
</div>