{% from '_macros' import renderError, renderTooltip, renderModal %}
<div class="column {{ column is not empty ? column : 'is-full' }}">

    {% if value %}
        <div data-replacecontainer="{{ id_string }}">
            <div class="field">
                <img src="{{ value }}">
            </div>
            <div class="field">
                <div class="control">
                    <button type="button" class="button sigreplace" data-replacebutton="{{ id_string }}">{{ label_signature_replace }}</button>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="signature-pad {{ value is not empty ? 'hidden'}}" data-replacepad="{{ id_string }}" {{ width is defined ? ('data-width="'~width~'"') | raw }} {{ height is defined ? ('data-height="'~height~'"') | raw }}>
        <div class="field">
            <div class="control">
                <div class="label {{ labelsmall is not empty ? 'label-smaller' }}">{{ label }} {{ is_required ? '*' }}
                    {{ renderTooltip(tooltip) }}
                    {{ renderModal(modal, id) }}
                </div>
                <input type="hidden" id="{{ id }}" name="{{ id }}" value="{{ value }}" class="form-input"/>
                <canvas></canvas>
            </div>
            {{ renderError(errors) }}
        </div>

        <div class="field">
            <div class="control">
                <button type="button" class="button clear" data-action="clear">{{ label_signature_delete }}</button>
            </div>
        </div>
    </div>
</div>
