{% from '_macros' import renderError %}
<div id="signature-pad" {{ width is defined ? ('data-width="'~width~'"') | raw }} {{ height is defined ? ('data-height="'~height~'"') | raw }}>
    <div class="field">
        <div class="control">
            <div class="label">{{ label }} {{ is_required ? '*' }}</div>
            <input type="hidden" id="{{ id }}" name="{{ id }}" value="{{ value }}" class="form-input"/>
            <canvas />
        </div>
        {{ renderError(errors) }}
    </div>

    <div class="field">
        <div class="control">
            <button type="button" class="button clear" data-action="clear">Löschen</button>
        </div>
    </div>
</div>