{% from '_macros' import renderError, renderTooltip, renderModal, optionReadonly %}
<div class="column {{ column is not empty ? column : 'is-full' }}">
    <div class="field">
        <label class="label {{ labelsmall is not empty ? 'label-smaller' }}" for="{{ id }}">
            {%- if label is not empty -%}
                {{ label }} {{ is_required ? '*' }}
            {%- endif  -%}
        </label>
        {{ renderTooltip(tooltip) }}
        {{ renderModal(modal, id) }}
        <div class="control">
                <textarea
                    id="{{ id }}"
                    name="{{ id }}"
                    {{ cols is defined ? 'cols='~cols }}
                    {{ rows is defined ? 'rows='~rows }}
                    class="textarea form-input {{ errors is not empty ? 'is-danger' }}"
                    {{ optionReadonly(is_readonly) }}
                    {% if placeholder is not empty -%}
                        placeholder="{{ placeholder ~ (is_required and label is empty ? ' *') }}"
                    {%- endif %} />

                    {{- value -}}
                </textarea>
        </div>
        {{ renderError(errors) }}
    </div>
</div>
