{% from '_macros' import fileUrl, renderError, renderTooltip, renderModal %}
<div class="column {{ column is not empty ? column : 'is-full' }}">
    <div class="field file dropzone {{ errors is not empty ? 'is-danger' }}">
        <div class="control">
            <label class="label {{ labelsmall is not empty ? 'label-smaller' }}">{{ label }} {{ is_required ? '*' }}</label>
            {{ renderTooltip(tooltip) }}
            {{ renderModal(modal, id) }}<br />
            {% if is_uploaded %}
                <ul>
                    {% for uploaded in uploaded_files %}
                        <li>{{ uploaded_original }}: <a href="{{ fileUrl(uploaded.address) }}" target="_blank">{{ uploaded.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            <label class="file-label">
                <input type="file"
                       class="file-input form-input" id="{{ id }}"
                       name="{{ id }}[]"
                       multiple="multiple"
                       {{ allowed_extensions is defined ? ('accept=".'~allowed_extensions|join(',.')~'"')|raw }}
                       data-info-container-id="{{ id }}-upload-info"
                       data-error-container-id="{{ id }}-upload-error"
                        data-max="{{ max_size }}"/>
                <input type="hidden"
                       name="{{ id }}[previous_value]"
                       value="{{ previous_value }}">
                <span class="file-cta">
                    <span class="file-label">
                        {{ is_uploaded ? button_upload_replace : button_upload_label }}
                    </span>
                </span>
            </label>
            <div class="notification is-warning hidden" id="{{ id }}-upload-info">{{ upload_info }}
                <strong><span class="notification-upload"></span></strong>
            </div>
            <div class="notification is-error hidden" id="{{ id }}-upload-error">{{ upload_error }} (max {{ max_size_human }})  </div>

            {{ renderError(errors) }}
        </div>
    </div>
</div>
